
  <div class="navbar navcont">
    <img src="./../../assets/Star-Wars-Logo.png" alt="logo de star wars" width="80px">
    <ul class="d-flex">
      <li class="nav-link m-3">
        <a routerLink="/heroes">Heroes</a>
      </li>
      <li class="nav-link m-3">
        <a routerLink="/planets">Planets</a>
      </li>
      <li class="nav-link m-3">
        <a routerLink="/species">Species</a>
      </li>
      <li class="nav-link m-3">
        <a routerLink="/starships">Starships</a>
      </li>
      <li class="nav-link m-3">
        <a routerLink="/vehicles">Vehicles</a>
      </li>
    </ul>
  </div>




